[build]
publish = "public"
command = ""

[[redirects]]
from = "/api/*"
to = "https://voyagehub-api.onrender.com/api/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
